---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import langData from "../../data/lang.json";
import { getCollection } from "astro:content";

const currentLang = "en";

const socialLinks = [
  { href: "https://github.com/adamlean", icon: "fab fa-github" },
  { href: "https://t.me/dg404_bot", icon: "fa-brands fa-telegram" },
  { href: "https://www.behance.net/adamlean92", icon: "fab fa-behance" },
  {
    href: "https://soundcloud.com/mastamonk36",
    icon: "fa-brands fa-soundcloud",
  },
];

const posts = await getCollection("blog", ({ slug }) =>
  slug.startsWith(`${currentLang}/`)
);
---

<Layout title="Blog | Adam Lean">
  <Header menu={langData[currentLang].menu} />

  <main class="content">
    <section>
      {
        posts.length > 0 ? (
          <ul>
            {posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                {post.data.description && <p>{post.data.description}</p>}
              </li>
            ))}
          </ul>
        ) : (
          <p>No posts available</p>
        )
      }
    </section>
  </main>

  <Footer socialLinks={socialLinks} author="Adam Lean" />
</Layout>
