---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import langData from "../data/lang.json";
import { getCollection } from "astro:content";

const currentLang = "ru";

const socialLinks = [
  { href: "https://github.com/adamlean", icon: "fab fa-github" },
  { href: "https://t.me/dg404_bot", icon: "fa-brands fa-telegram" },
  { href: "https://www.behance.net/adamlean92", icon: "fab fa-behance" },
  {
    href: "https://soundcloud.com/mastamonk36",
    icon: "fa-brands fa-soundcloud",
  },
];

const posts = await getCollection("blog", ({ slug }) =>
  slug.startsWith(`${currentLang}/`)
);
---

<Layout title="Блог | Адам Лин">
  <Header menu={langData[currentLang].menu} />

  <main class="content">
    <section class="blog">
      <div class="container">
        {
          posts.length > 0 ? (
            <div class="row g-4">
              {posts.map((post) => {
                const [lang, slug] = post.slug.split("/");
                return (
                  <div class="col-12 col-sm-6 col-lg-4">
                    {" "}
                    {/* <-- адаптивные колонки */}
                    <article class="post-card">
                      {post.data.image && (
                        <a href={`/${lang}/${slug}`}>
                          <img
                            src={post.data.image}
                            alt={post.data.title}
                            class="post-image"
                          />
                        </a>
                      )}

                      <div class="post-content">
                        {post.data.tag && (
                          <span class="post-tag">{post.data.tag}</span>
                        )}
                        <h2 class="post-title">
                          <a href={`/${lang}/${slug}`}>{post.data.title}</a>
                        </h2>
                        {post.data.description && (
                          <p>{post.data.description}</p>
                        )}
                        <div class="post-meta">
                          <span>
                            {post.data.date instanceof Date
                              ? post.data.date.toLocaleDateString(lang)
                              : post.data.date}
                          </span>
                        </div>
                      </div>
                    </article>
                  </div>
                );
              })}
            </div>
          ) : (
            <p>Нет постов</p>
          )
        }
      </div>
    </section>
  </main>

  <Footer socialLinks={socialLinks} author="Адам Лин" />
</Layout>
