---
import { getCollection } from "astro:content";

const lang = Astro.url.searchParams.get("lang") || "ru";

const posts = await getCollection("blog", ({ id }) =>
  id.startsWith(`blog/${lang}/`)
);
---

<section>
  <h1>{lang === "ru" ? "Блог" : "Blog"}</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}?lang=${lang}`}>{post.data.title}</a>
          {post.data.description && <p>{post.data.description}</p>}
        </li>
      ))
    }
  </ul>
</section>
