---
import workru from "../data/portfolio.ru.json";
import worken from "../data/portfolio.en.json";

// Определяем язык по URL
const lang = Astro.url.pathname.startsWith("/en") ? "en" : "ru";
const works = lang === "ru" ? workru : worken;
---

<section class="work section" id="work">
  <div class="work-filters">
    <span class="work-item active-work" data-filter="all">
      {lang === "ru" ? "Все" : "All"}
    </span>
    <span class="work-item" data-filter=".web">Web</span>
    <span class="work-item" data-filter=".wordpress">Wordpress</span>
    <span class="work-item" data-filter=".react">React</span>
    <span class="work-item" data-filter=".python">Python</span>
  </div>

  <div class="work-container container grid">
    {
      works.map((work) => (
        <div class={`work-card mix ${work.category.toLowerCase()}`}>
          <img src={work.img} alt={work.title} class="work-img" />
          <h3 class="work-title">{work.title}</h3>
          <span class="work-button">
            {lang === "ru" ? "Посмотреть" : "View"}
            <i class="uil uil-arrow-right work-button-icon" />
          </span>

          <div class="portfolio-item-details" style="display:none;">
            <h3 class="details-title">{work.detailsTitle}</h3>
            <p class="details-description">{work.description}</p>
            <ul class="details-info">
              <li>
                {lang === "ru" ? "Стек" : "Stack"} - <span>{work.stack}</span>
              </li>
              <li>
                {lang === "ru" ? "Демо" : "Demo"} -
                <span>
                  <a href={work.demo} target="_blank">
                    {work.demo}
                  </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      ))
    }
  </div>
</section>

<!-- Popup -->
<div class="portfolio-popup">
  <div class="portfolio-popup-inner">
    <div class="portfolio-popup-content grid">
      <span class="portfolio-popup-close"><i class="uil uil-times"></i></span>
      <div class="pp-thumbnail">
        <img src="" alt="" class="portfolio-popup-img" />
      </div>

      <div class="portfolio-popup-info">
        <!-- Содержимое заполняется из .portfolio-item-details -->
      </div>
    </div>
  </div>
</div>

<!-- Скрипты -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"
></script>
<script src="/assets/js/main.js" is:inline></script>
